html {
	font-size: 62.5%;
}

body {
	max-width: 80%;
	margin: 2rem auto;
	line-height: 1.4;
	text-align: left;
}

main {
	font-size: 1.5rem;
	font-family: sans-serif;
	color: hsl(0, 0%, 21%);
	background-color: #fff;
}

header {
	font-size: 1.8rem;
	padding-bottom: 2.1rem;
	border-bottom: 0.1rem solid hsl(0, 0%, 50%);
}

header > a {
	margin-right: 1.5rem;
}

header > a,
header > a:visited {
	text-decoration: none;
	color: hsl(0, 0%, 21%);
}

.subtitle {
	font-size: 1.2rem;
	color: hsl(0, 0%, 35%);
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#githubAvatar {
	width: 10rem;
	height: 10rem;
	overflow: hidden;
	border-radius: 50%;
	border-color: 0.1rem solid #0a0908;
}
